/**
 * Basic typography style for copy text
 */ 
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
body {
  background-color:$brand-color;
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
  overflow-x:  hidden;
}
body::-webkit-scrollbar{
    width:0.5em;
}
body::-webkit-scrollbar-track{
   -webkit-box-shadow:insect 1px 2px ;
}
body::-webkit-scrollbar-thumb{
    background-color:$special-text-color;
    outline:1px solid slategrey;
}
body::-moz-scrollbar{
    width:0.5em;
}
body::-moz-scrollbar-track{
   -moz-box-shadow:insect 1px 2px ;
}
body::-moz-scrollbar-thumb{
    background-color:$special-text-color;
    outline:1px solid slategrey;
}
body::-ms-scrollbar{
    width:0.5em;
}
body::-ms-scrollbar-track{
   -ms-box-shadow:insect 1px 2px ;
}
body::-ms-scrollbar-thumb{
    background-color:$special-text-color;
    outline:1px solid slategrey;
}
