.todo-area{
	// background:linear-gradient(100deg, rgba(255, 123, 0, 0.6) 0%, rgba(0, 123, 0, 0.6) 150%);
	// text-align:center;
	background:black;
}
body{
	text-align: center;
}
form{
	// .label{
	// 		position: absolute;
	// 		left:12%;
	// 		top:15%;
	// 		z-index: 10;
	// 		animation: fade-slide 1s forwards;

	// 		&:hover{
	// 			margin-top:-4%;
	// 		}
	// }
	.todos{
		border:0;
		height:15vh;
		width:60%;
		font-size:3.5vw;
		border:none;
		border-bottom:1px solid white;
		background-color:transparent;
		color:white;
		outline:none;
		text-rendering: optimizeLegibility;
		animation: fade-slide 1s forwards;

		&::placeholder{
			color:white;
		}
	}
}
.dummie{
	border: 0.2px solid #0A0503;
}
ul{
	width:60%;
	margin-top:5%;
	margin-left:auto;
	margin-right: auto;
	padding-bottom:6%;
	text-align: left;
	

	li{
	list-style: none;
	font-size:1.5em;
	width:100%;
	color:white;
	margin-bottom: 3%;
	animation: fade-slide 1s forwards;

  }
} 
.add{
	background:transparent;
	border:1px solid white;
	color:white;
	font-size:3.4vw;
	cursor: pointer;
	padding:1.5% 5%;
	outline:none;
	font-size:5vh;
	font-weight: bold;
	transition: all 1.5s ease;
	animation: fade-slide 1s forwards;


	&:hover{
		// color:rgba(187, 199, 16, 0.6);
		color:black;
		background: white;
		border:none;
	}
}

.lists{
	display:grid;
	grid-auto-rows: auto;
	grid-auto-columns: auto;
	grid-template-columns:1fr 4fr 1fr;
	grid-template-areas: "symbol todoText checked"
						 "date date date";

	border:2px solid white;
	box-shadow: 2px 2px 3px rgba(24, 18, 18, 0.5);
}

.symb{
	grid-area:symbol;
}

.checkBox{
	grid-area: checked;
	outline: none;
	height:5vw;
	width:5vw;
	margin-left:50%;
	padding: 6%;
}


// .checkBox::after{
// 	margin-left:90%;
// 	background:blue;
// 	content:"";
// 	border-radius:4px;
// 	border:solid blue;
// }


.todoText{
	font-size:3.5vw;
	grid-area: todoText;
	// border:1px solid white;
	margin-left:2%;
	text-decoration-color: #0A0503;
	animation: strike 1s ease-in-out;
	word-wrap: break-word;
	overflow-x: hidden;
}

.todoDate{
	border-top:1px solid white;
	padding-top:10px;
	font-size:1.5vw;
	grid-area: date;
}

@keyframes strike{
	from{
		text-decoration-color: transparent;
	}
	to{
		text-decoration-color: #0A0503;
	}
}

@keyframes fade-slide {
	0% {
	  opacity: 0;
	  transform: translateY(50px);
	}
  
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }